* {
    margin: 0;
    padding: 0;
}

.gluwna{
    display: grid;
    grid-template-columns: 40% 60%;

}
.baner{
    background-color: #45517D;
    text-align: right;
    height: 60px;
    color: white;
    font-size: 120%;
}
h1{
    margin-bottom: 17px;
}
h2{
    padding-top: 20px;
}
.panele_lewy{
    background-color: #61B2EC;
    height: 500px;
}
.panele_prawy{
    background-color: #8EC9F2;
    height: 500px;
}
.spisok{
    padding: 30px;
}
.table {
    width: 100%;
    height: 60px;
    background-color: #45517D;
    color: white;

}
.dol{
    color: orange;
}
.haha{
    width: 60%;
    
}
body{
    display: flex;
    justify-content: center;
}
td{
    width: 33%;
    text-align: center;
}